body {
    color: beige;
    background-color: rgb(185, 114, 101);
}
/* comentário
identificador css que referencia a frase "Sejam bem vindos ao meu site!"
*/
#boasVindas{
    color:rgb(229, 202, 158);
}

img{
    max-width: 100%;
    height: auto;
}
